<header id="site-header" class="header">
  <nav class="navbar px-4 flex items-center justify-between">

    <!-- 左边：站点名字 -->
    <div class="order-0 h-full flex items-center">
      <a class="navbar-brand text-2xl font-extrabold mr-6" href="{{ site.Home.RelPermalink }}" title="{{ site.Title }}">
        {{ with site.Params.header.navbar.logo.text }}{{.}}{{end }}
      </a>

      <!-- 移动端汉堡按钮 -->
      <button
        class="navbar-toggler ml-2 inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:text-black hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-primary lg:hidden"
        type="button"
        aria-label="Toggle navigation"
        aria-controls="nav-menu"
        aria-expanded="false"
        data-collapse-toggle="nav-menu">
        <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M4 6h16M4 12h16M4 18h16"/>
        </svg>
      </button>
    </div>

    <!-- 右边：按钮 + Home / Blog -->
    <div class="order-1 flex items-center space-x-4 md:order-2 lg:ml-0">

      <!-- Home / Blog 菜单 -->
      <ul class="navbar-nav hidden lg:flex">
        {{ $currentPage := . }}
        {{ range where site.Menus.main "Weight" "ge" 20 }}
          {{ $menuURL := .URL | absLangURL }}
          {{ $pageURL := $currentPage.Permalink | absLangURL }}
          {{ $active := eq $menuURL $pageURL }}
          <li class="nav-item">
            <a class="nav-link {{ if $active }}active{{ end }}" href="{{ .URL | relLangURL }}">
              {{ .Name }}
            </a>
          </li>
        {{ end }}
      </ul>

      <!-- {{/* 搜索按钮 */}}
      {{ $show_search := site.Params.header.navbar.show_search | default false }}
      {{ with $show_search }}
      <button
        aria-label="toggle search"
        class="text-black hover:text-primary inline-block px-3 text-xl dark:text-white"
        data-search-toggle>
        <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512" fill="currentColor"><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/></svg>
      </button>
      {{ end }} -->

      {{/* 夜间模式按钮 */}}
      {{ $show_theme_chooser := site.Params.header.navbar.show_theme_chooser | default true }}
      {{ if $show_theme_chooser }}
      <div class="px-3">
        <button class="theme-toggle mt-1" accesskey="t" title="appearance">
          <svg id="moon" xmlns="http://www.w3.org/2000/svg" width="24" height="18" viewBox="0 0 24 24"
               fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
               stroke-linejoin="round" class="block dark:hidden">
            <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
          </svg>
          <svg id="sun" xmlns="http://www.w3.org/2000/svg" width="24" height="18" viewBox="0 0 24 24"
               fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
               stroke-linejoin="round" class="hidden dark:block">
            <circle cx="12" cy="12" r="5"></circle>
            <line x1="12" y1="1" x2="12" y2="3"></line>
            <line x1="12" y1="21" x2="12" y2="23"></line>
            <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
            <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
            <line x1="1" y1="12" x2="3" y2="12"></line>
            <line x1="21" y1="12" x2="23" y2="12"></line>
            <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
            <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
          </svg>
        </button>
      </div>
      {{ end }}

      {{/* 多语言选择器 */}}
      {{ $show_translations := site.Params.header.navbar.show_translations | default true }}
      {{ if .IsTranslated | and $show_translations }}
      <div class="pl-1 mr-5">
        {{- partial "components/language-chooser.html" (dict "page" .) -}}
      </div>
      {{ end }}

      <!-- CTA 按钮 -->
      {{ if site.Params.header.navbar.button.enable }}
      <a
        href="{{ site.Params.header.navbar.button.url | relLangURL }}"
        class="inline-block rounded border px-5 py-2 font-semibold transition
        md:ml-4 px-4 py-1.5 text-sm
        border-black  hover:bg-black dark:hover:bg-white dark:hover:text-black hover:text-white dark:border-white dark:text-white dark:hover:bg-white
        hidden lg:inline-block">
        {{ site.Params.header.navbar.button.text }}
      </a>
      {{ end }}
    </div>
  </nav>
</header>