.navbar-collapse {
  border: 2px solid red !important;
}

.navbar-nav {
  border: 2px solid blue !important;
  padding: 5px;
}

.navbar-nav + .navbar-text, .navbar-icons {
  border: 2px solid green !important;
}