<nav class="navbar">
  <div class="navbar-left">
    <a href="/" class="navbar-brand">YourName</a>
  </div>
  <div class="navbar-center">
    {{ $currentPage := . }}
    <ul class="navbar-menu">
      {{ range .Site.Menus.main }}
        {{ if ne .Name "YourName" }} <!-- 排除名字 -->
          <li>
            <a href="{{ .URL | relURL }}"
               class="{{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}active{{ end }}">
              {{ .Name }}
            </a>
          </li>
        {{ end }}
      {{ end }}
    </ul>
  </div>
</nav>