<nav class="custom-navbar">
  <div class="navbar-left">
    <a href="/" class="navbar-brand">Zhike Peng</a>
  </div>

  <div class="navbar-center">
    <ul class="navbar-menu">
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
        {{ if or (eq .Name "Home") (eq .Name "Blog") }}
          <li>
            <a href="{{ .URL | relURL }}"
               class="{{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}active{{ end }}">
              {{ .Name }}
            </a>
          </li>
        {{ end }}
      {{ end }}
    </ul>
  </div>
</nav>